* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  font-size: 1.6rem;
  font-family: 'Press Start 2P', cursive;
  color: #ebebeb;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #184209;
  background-image: url("/assets/oldScreen.png");
  min-height: 100vh;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  scroll-behavior: smooth; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem; }
  .header > a {
    margin-top: 0.25rem;
    margin-left: 0.25rem; }
  .header > img {
    width: 100px;
    height: auto; }
  .header > div {
    margin-right: 2rem;
    text-shadow: 4px 4px 4px #030303;
    color: #ebebeb; }
    .header > div > button {
      border: none;
      outline: none;
      font-family: 'Press Start 2P', cursive;
      background: none;
      color: #969696;
      cursor: pointer; }

.main {
  font-size: 1.3rem;
  text-shadow: 2px 2px 2px #030303;
  margin: 0 auto;
  max-width: 75rem;
  padding: 1.5rem; }

.hero {
  font-size: 3rem;
  color: #e8e8e8;
  width: 100%;
  text-align: center; }
  .hero > h1 {
    text-shadow: 4px 4px 4px #030303; }
  .hero .subtext {
    color: #969696; }

.levelDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #030303;
  align-items: center;
  padding: 2rem;
  border: 3px solid #e8e8e8;
  border-radius: 8px;
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
  .levelDetails > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; }
    @media (min-width: 500px) {
      .levelDetails > div:first-child {
        flex-direction: row; } }

.adventureText,
.adventureResponse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  padding: 2rem;
  color: #5afb10;
  background-color: #030303;
  border: 3px solid #ccc;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

.adventureResponse {
  color: #ebebeb;
  padding: 2rem; }
  .adventureResponse > .btn:not(:last-child) {
    margin-bottom: 3rem; }
  .adventureResponse > p {
    margin-bottom: 2rem; }

.btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.4rem;
  background: #969696;
  border: none;
  color: #030303;
  border: 3px solid #ebebeb;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer; }

.white-span {
  color: #ebebeb; }

.modalStyle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-width: 90%;
  z-index: 1010;
  background-color: #969696;
  color: #030303;
  padding: 1.5rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  text-align: center; }

.modalOverlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  opacity: 90%; }

.modalButton1, .modalButton2, .modalDismissButton1 {
  background-color: #ff0a0a;
  color: #eee;
  padding: 1rem;
  border: none;
  border-radius: 3px;
  width: 95px;
  max-width: 100%;
  border-bottom: 2px solid #d60000;
  font-weight: 700;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out; }
  .modalButton1:hover, .modalButton2:hover, .modalDismissButton1:hover {
    background-color: #ff7070;
    border-bottom: 2px solid #ff0a0a; }

.modalButton2 {
  background-color: #0f9d58;
  border-bottom: 2px solid #0a6e3d; }
  .modalButton2:hover {
    background-color: #13cc72;
    border-bottom: 2px solid #0f9d58; }

.modalDismissButton1 {
  background-color: #0e1013;
  border-bottom: #030404;
  width: 100px; }
  .modalDismissButton1:hover {
    background-color: #39414e;
    border-bottom: #0e1013; }

.buttonDiv {
  display: flex;
  justify-content: space-evenly; }

.modal-icon {
  width: 80px;
  height: 80px; }
