html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-size-adjust: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	background-image: url('/assets/oldScreen.png');
	min-height: 100vh;
	min-width: 100vw;
}

body {
	margin: 0;
	font-size: 62.5%;
	font-family: 'Press Start 2P', cursive;
	color: #ebebeb;
	line-height: 1.2rem;
	letter-spacing: 0.1rem;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	line-height: 4rem;

	h1 {
		font-size: 3rem;
		text-shadow: 2px 2px 4px #030303;
		text-align: center;
	}
}
.main {
	font-size: 0.85rem;
	text-shadow: 2px 2px 2px #030303;
	margin: 0 auto;
	max-width: 40rem;
	padding: 1rem 1.11rem 1rem 1rem;
}
.levelDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #030303;
	align-items: center;
	padding: 0.65rem;
	border: 3px solid #ccc;
	border-radius: 8px;
	font-size: 1.2rem;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
		rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.error {
	font-size: 1.4rem;
	text-align: center;
}
.adventureText,
.adventureResponse {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	padding: 1.3rem;
	color: #5afb10;
	background-color: #030303;
	border: 3px solid #ccc;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
		rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.adventureResponse {
	color: #ebebeb;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	> input {
		width: 95%;
		background: none;
		border: none;
		border: 3px solid #ebebeb;
		border-radius: 3px;
		font-size: 1.6rem;
		color: #5afb10;
		margin-top: 1rem;
		text-align: center;
		font-family: 'Press Start 2P', cursive;
		padding: 0.5rem;
		background: #666666;
	}
}
.green-span {
	color: #5afb10;
	font-weight: bold;
}
